.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title {
  text-align: center;
}

.buttons {
  margin: 0.5rem;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.wrapper .mode {
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border: 1px solid black;
  border-radius: 0px;
  cursor: pointer;
  background-color: rgb(28, 32, 95);
  color: #fafafa;
}

.wrapper .mode:hover {
  opacity: 0.6;
}

.wrapper .mode:focus {
  outline-color: rgb(102, 175, 243);
}

.wrapper .mode:active {
  background-color: rgb(102, 175, 243);
}

.wrapper button {
  margin: 0.5rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
  border-width: 1px;
  cursor: pointer;
}

.mode button:hover,.wrapper button:hover {
  opacity: 0.9;
}

.wrapper button:active {
  background-color: rgb(27, 26, 26);
  color: #fafafa;
}

.wrapper button:focus {
  outline-color: rgb(102, 175, 243);
}

.time {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: 500;
}

.start {
 background-color: rgb(32, 153, 32);
 color: #fafafa;
}

.stop {
  background-color: rgb(175, 58, 58);
  color: #fafafa;
}

.reset {
  background-color: rgb(211, 182, 19);
  color: #0a0a0a;
}

.tomato {
  max-width: 50vw;
}

.select {
  font-size: 1.25rem;
}

.select select {
  margin: 0 1rem;
  font-size: 1.25rem;
  cursor: pointer;
}

.select select:focus {
  outline-color: rgb(102, 175, 243);
}